:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}

* {
  box-sizing: border-box;
}

h2,
h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "open sans", sans-serif;
}

*:focus {
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}

a {
  text-decoration: none;
}

.page {
  min-height: 100vh;
  display: flex;
  background-color: #f1f5f9;

  .side-bar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
    background-color: white;
    padding: 20px;
    position: relative;

    h3 {
      margin-bottom: 40px;
      position: relative;
      text-align: center;
      font-size: 30px;
      margin-top: 10px;
    }

    ul {
      li {
        a {
          font-size: 14px;
          color: black;
          border-radius: 6px;
          padding: 10px;
          transition: 0.3s;
          margin-bottom: 5px;
          display: flex;
          align-items: center;

          &.active {
            background-color: #f6f6f6;
          }

          span {
            font-size: 14px;
            margin-left: 10px;
          }
        }
      }
    }

    @media (max-width: 767px) {
      & {
        width: 58px;
        padding: 10px;
        li {
          a {
            span {
              display: none;
            }
          }
        }
      }
    }
  }

  .content {
    width: 100%;
    overflow: hidden;

    .head {
      background-color: white;
      padding: 15px;
      justify-content: space-between;
      display: flex;
      align-items: center;

      .icons {
        display: flex;
        align-items: center;
        margin-left: auto;
      }

      .notification {
        position: relative;
        margin-right: 10px;

        &:before {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: var(--red-color);
          border-radius: 50%;
          left: -5px;
          top: -5px;
        }

        i {
          cursor: pointer;
        }
      }
    }

    .main {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 40px;
      padding: 10px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;

      @media (min-width: 768px) {
        & {
          width: 750px;
        }
      }

      @media (min-width: 992px) {
        & {
          width: 970px;
        }
      }

      @media (max-width: 767px) {
        & {
          width: 340px;
        }
      }

      .box {
        -webkit-box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
        -moz-box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        background-color: white;
        overflow: hidden;
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
          transform: translateY(-10px);
          box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
        }

        img {
          width: 100%;
          max-width: 100%;
        }

        h3 {
          padding: 20px;
          text-transform: capitalize;
          margin: 0;
        }
      }
    }
    h1 {
      margin: 20px 20px 40px;
      position: relative;
    }
  }
}

/*button */

.check .control input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}

.check .control label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}

.check .control label::before,
.check .control label::after {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
  border-radius: 4px;
}

.check .control label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 2px solid var(--grey-color);
}

.check .control label:hover::before {
  border-color: var(--blue-alt-color);
}

.check .control label::after {
  font-family: var(--fa-style-family-classic);
  content: "\f00c";
  font-weight: 900;
  background-color: var(--blue-color);
  color: white;
  font-size: 12px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotate(360deg);
  transition: 0.3s;
}

.check .control input[type="checkbox"]:checked + label::after {
  transform: scale(1);
}

/*----------------------------------------------------------------------------------*/
.back input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}

.back .date label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.back .date label::before,
.back .date label::after {
  position: absolute;
  content: "";
  border-radius: 50%;
}

.back .date label::before {
  top: 50%;
  left: 0;
  margin-top: -11px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--grey-color);
}

.back .date label::after {
  left: 5px;
  top: 5px;
  width: 12px;
  height: 12px;
  background-color: var(--blue-color);
  transition: 0.3s;
  transform: scale(0);
}

.back .date input[type="radio"]:checked + label::before {
  border-color: var(--blue-color);
}

.back .date input[type="radio"]:checked + label::after {
  transform: scale(1);
}

/*----------------------------------------------------------------------------------*/
.back .servers {
  border-top: 1px solid #eee;
  padding-top: 20px;
}

@media (max-width: 767px) {
  .back .servers {
    flex-wrap: wrap;
  }
}

.back .servers .server {
  border: 2px solid #eee;
  position: relative;
}

.back .servers .server label {
  cursor: pointer;
}

.back .servers input[type="radio"]:checked + .server {
  border-color: var(--blue-color);
  color: var(--blue-color);
}

/*----------------------------------------------------------------------------------*/
label {
  right: 15%;
  position: relative;
}
.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.toggle-switch {
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f185";
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: 0.3s;
}

.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}

.toggle-checkbox:checked + .toggle-switch::before {
  left: 50px;
  color: var(--blue-color);
  content: "\f186";
}

/*------------------------------------------------------------------------------*/
.toggle-checkbox-p {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.toggle-switch-p {
  background-color: #ccc;
  width: 78px;
  height: 20px;
  border-radius: 16px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.toggle-switch-p::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: 0.3s;
  font-size: 8px;
}

.toggle-checkbox-p:checked + .toggle-switch-p {
  background-color: var(--blue-color);
}

.toggle-checkbox-p:checked + .toggle-switch-p::before {
  left: 62px;
  color: var(--blue-color);
  content: "\f00c";
}

@media (max-width: 767px) {
  .m-center {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .side-bar > h3::before,
  .side-bar > h3::after {
    position: absolute;
    content: "";
    background-color: black;
    transform: translateX(-50%);
    left: 50%;
  }

  .side-bar > h3::before {
    width: 80px;
    height: 2px;
    bottom: -20px;
  }

  .side-bar > h3::after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    bottom: -29px;
    border: 4px solid white;
  }
}
